body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    min-width: 100vw;
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
}